# boot configuration script
# syntax:
#	  name=<Menu text>;<row>;<col>;<executable file>;<parameters>;
# ATTENTION:
#   do not put tabs or spaces around separators '=' , ';'

countdown=10
default=item1
display=pre-te-o boot;2;30
item1=default Kernel;5;4;/boot/core64.bin;init="/init/default.xml" hs="16m" ls="16K" rds="1m"
item2=experimental kernel sample 1;6;4;/boot/core2/core2_x64.bin;init="/init/exp.xml" hs="16m" ls="8k" rds="2m"
item3=experimental kernel sample 2;7;4;/boot/ktest2;test 2 parameters

