# boot configuration script
# syntax:
#	  name=<Menu text>;<row>;<col>;<executable file>;<parameters>;
# ATTENTION:
#   do not put tabs or spaces around separators '=' , ';'

countdown=10
default=test1
display=Select one of following:;8;10;
display=boot menu;2;32
test1=Default Kernel;13;30;/boot/kernel32.bin;/boot/ext/cfg_x86.xml
display=Default startup test:;12;8

test2=experimental kernel sample 1;10;12;/boot/ktest2;test 2 parameters
test3=experimental kernel sample 2;11;12;/boot/dir1/kernel.bin;test 3 parameters
